{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "static-fs",
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": ["node_modules/**", "test/**"]
        }]
      ]
    }
  }
}
