.CodeMirror-lint-tooltip {
  z-index: 2000 !important;
}

.codemirror-container {
  max-width: 100%;
  position: relative;
  overflow: auto;
}

.cm-s-maputnik.CodeMirror {
  height: 100%;
  font-size: 12px;
  background: transparent;
}

.cm-s-maputnik.CodeMirror, .cm-s-maputnik .CodeMirror-gutters {
  color: #8e8e8e;
  border: none;
}

.cm-s-maputnik .CodeMirror-gutters {
  background: #212328;
}

.cm-s-maputnik .CodeMirror-cursor {
    border-left: solid thin #f0f0f0 !important;
}

.cm-s-maputnik.CodeMirror-focused div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.10);
}

.cm-s-maputnik .CodeMirror-line::selection,
.cm-s-maputnik .CodeMirror-line > span::selection,
.cm-s-maputnik .CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.10);
}

.cm-s-maputnik .CodeMirror-line::-moz-selection,
.cm-s-maputnik .CodeMirror-line > span::-moz-selection,
.cm-s-maputnik .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.10);
}

.cm-s-maputnik span.cm-string, .cm-s-maputnik span.cm-string-2 {
  color: #8f9d6a;
}
.cm-s-maputnik span.cm-number { color: #91675f; }
.cm-s-maputnik span.cm-property { color: #b8a077; }

.cm-s-maputnik .CodeMirror-activeline-background {
  background: rgba(255,255,255,0.1);
}

.cm-s-maputnik .CodeMirror-matchingbracket {
  background: hsla(223, 12%, 35%, 1);
  color: $color-white !important;
}

.cm-s-maputnik .CodeMirror-nonmatchingbracket {
  background-color: #bb0000;
  color: white !important;
}

@keyframes JSONEditor__animation-fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  } 
}

.JSONEditor__message {
  position: absolute;
  right: 0;
  font-size: 0.85em;
  z-index: 99999;
  padding: 0.3em 0.5em;
  background: hsla(0, 0%, 0%, 0.3);
  color: $color-lowgray;
  border-bottom-left-radius: 2px;
  transition: opacity 320ms ease;
  opacity: 0;
  pointer-events: none;

  &--on {
    opacity: 1;
    animation: 320ms ease 0s JSONEditor__animation-fade;
    animation-delay: 2000ms;
    animation-fill-mode: forwards;
  }

  kbd {
    font-family: monospace;
  }
}
