// MAP
.maputnik-map {
  position: fixed !important;
  top: $toolbar-height + $toolbar-offset;
  right: 0;
  bottom: 0;
  height: calc(100% - #{$toolbar-height + $toolbar-offset});
  width: 75%;
}

// DOC LABEL
.maputnik-doc {
  &-target {
    cursor: help;
  }

  &-wrapper {
    display: inline-block;
    box-sizing: border-box;
    font-size: $font-size-6;
    line-height: 2;
    user-select: none;
    position: relative;
    vertical-align: top;
  }

  &-popup {
    display: none;
    color: $color-lowgray;
    background-color: $color-gray;
    padding: $margin-2;
    font-size: 10px;
    position: absolute;
    top: 20px;
    left: 0;
    width: 120px;
    z-index: 10;
  }
}

.maputnik-doc-target:hover .maputnik-doc-popup {
  display: block;
}

// BUTTON
.maputnik-button {
  cursor: pointer;
  background-color: $color-midgray;
  color: $color-lowgray;
  font-size: $font-size-6;
  padding: $margin-2;
  user-select: none;
  border-radius: 2px;
  box-sizing: border-box;

  &:hover {
    background-color: lighten($color-midgray, 12);
    color: $color-white;
  }
}

.maputnik-big-button {
  margin-top: $margin-3;
  display: inline-block;
  padding: $margin-3;
  font-size: $font-size-5;
}

.maputnik-icon-button {
  background-color: transparent;

  &:hover {
    background-color: transparent;

    label,
    svg {
      cursor: pointer;
    }

    svg {
      fill: $color-white;
    }
  }
}

// INPUT BLOCK
.maputnik-input-block {
  margin: $margin-3;

  &-label {
    color: $color-lowgray;
    display: inline-block;
    user-select: none;
    width: 50%;
    vertical-align: top;
  }

  &-content {
    display: inline-block;
    width: 50%;
  }
}

.maputnik-action-block {
  .maputnik-input-block-label {
    display: inline-block;
    width: 43%;
  }

  .maputnik-input-block-action {
    vertical-align: top;
    display: inline-block;
    width: 7%;
  }
}

// SPACE HELPER
.maputnik-space {
  @include vendor-prefix(flex-grow, 1);
}

// MESSAGE PANEL
.maputnik-message-panel {
  padding: $margin-2;

  &-error {
    color: $color-red;
  }
}
