.maputnik-export-gist {
  label.maputnik-checkbox-wrapper {
    display: inline-block;
  }
}

.maputnik-render-gist {
  p {
    margin: 10px 0;
  }

  input.maputnik-string {
    margin-left: 5px;
    width: 60%;
    display: inline-block;
  }
}
