// LAYER LIST
.maputnik-layer-list {
  &-header {
    padding: $margin-2 $margin-2 $margin-3;

    @include flex-row;

    > * {
      vertical-align: middle;
      margin-bottom: 0;
    }
  }

  &-header-title {
    font-size: $font-size-5;
    color: $color-white;
    font-weight: bold;
    line-height: 1.3;
  }

  &-container {
    padding: 0;
    margin: 0;
    padding-bottom: $margin-5;
  }

  &-item {
    font-weight: 400;
    color: $color-lowgray;
    font-size: $font-size-6;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: lighten($color-black, 0.1);
    user-select: none;
    list-style: none;
    z-index: 2000;
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    line-height: 1.3;
    max-height: 50px;
    opacity: 1;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;

    @media screen and (prefers-reduced-motion: reduce) {
      transition-duration: 0;
    }

    @include flex-row;
  }

  &-icon-action {
    display: none;

    svg {
      fill: $color-black;
    }
  }

  .maputnik-layer-list-item:hover,
  .maputnik-layer-list-item-selected {
    background-color: lighten($color-black, 2);

    .maputnik-layer-list-icon-action {
      display: block;
      background: initial;
      border: none;
      padding: 0 2px;
    }

    .maputnik-layer-list-icon-action svg {
      fill: darken($color-lowgray, 0.5);

      &:hover {
        fill: $color-white;
      }
    }
  }

  &-item-selected {
    color: $color-white;
  }

  &-item-collapsed {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    visibility: hidden;
  }

  &-item-group-last {
    border-bottom: 2px solid $color-gray;
  }

  &-item-id {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-group-header {
    font-size: $font-size-6;
    color: $color-lowgray;
    background-color: lighten($color-black, 2);
    cursor: pointer;
    user-select: none;
    padding: $margin-2;

    @include flex-row;

    svg {
      width: 14px;
      height: 14px;
    }
  }

  &-group-title {
    vertical-align: middle;
  }

  &-group-content {
    margin-left: $margin-3;
  }
}

// FILTER EDITOR
.maputnik-layer-editor-group {
  font-weight: bold;
  font-size: $font-size-5;
  background-color: lighten($color-black, 2);
  color: $color-white;
  cursor: pointer;
  user-select: none;
  padding: $margin-2;
  line-height: 20px;

  @include flex-row;

  &:hover {
    background-color: $color-gray;
  }
}

// PROPERTY
.maputnik-default-property {
  .maputnik-input-block-label {
    color: darken($color-lowgray, 25%);
  }

  .maputnik-string,
  .maputnik-number,
  .maputnik-color,
  .maputnik-select,
  .maputnik-checkbox-wrapper {
    background-color: darken($color-gray, 2%);
    color: darken($color-lowgray, 25%);
  }

  .maputnik-make-zoom-function svg {
    opacity: 0.4;
  }

  .maputnik-multibutton .maputnik-button {
    background-color: darken($color-midgray, 10%);
    color: darken($color-lowgray, 25%);

    &:hover {
      background-color: lighten($color-midgray, 12);
      color: $color-white;
    }
  }

  .maputnik-multibutton .maputnik-button-selected {
    background-color: darken($color-midgray, 2%);
    color: $color-lowgray;
  }
}

.more-menu {
  position: relative;

  &__menu {
    position: absolute;
    z-index: 9999;
    background: $color-black;
    border: solid 1px $color-midgray;
    right: 0;
    min-width: 120px;
  }

  &__menu__item {
    padding: 4px;
  }
}

.layer-header {
  display: flex;
  padding: 6px;
  background: $color-black;
  border-bottom: solid 1px $color-midgray;

  &__title {
    flex: 1;
  }

  &__info {
    min-width: 28px;
  }
}
