//OPENLAYERS
.maputnik-layout {
  .ol-zoom {
    top: 40px;
    right: 10px;
    left: auto;
  }

  .ol-rotate {
    top: 94px;
    right: 10px;
    left: auto;
  }

  .ol-attribution.ol-logo-only {
    height: 20px;
  }

  .ol-attribution a {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
  }

  .ol-control {
    button {
      background-color: rgb(28, 31, 36);
    }

    button:hover {
      background-color: rgb(86, 83, 83);
    }
  }
}


.maputnik-ol {
  width: 100%;
  height: 100%;
}

.maputnik-ol-popup {
  background: $color-black;

}

.maputnik-coords {
  font-family: monospace;
  &:before {
    content: '[';
    color: #888;
  }
  &:after {
    content: ']';
    color: #888;
  }
}

.maputnik-ol-debug {
  font-family: monospace;
  font-size: smaller;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgb(28, 31, 36);
  padding: 6px 8px;
  border-radius: 2px;
  z-index: 9999;
}

.maputnik-ol-zoom {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #1c1f24;
  border-radius: 2px;
  padding: 6px 8px;
  color: $color-lowgray;
  z-index: 9999;
  font-size: 12px;
  font-weight: bold;
}

.maputnik-ol-container {
  display: flex;
  flex: 1;
  position: relative;
}
