//MODAL
.maputnik-modal {
  min-width: 350px;
  max-width: 600px;
  overflow: hidden;
  background-color: $color-black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  z-index: 3;
  position: relative;
}

.maputnik-modal-section {
  padding-top: $margin-3;
  padding-bottom: $margin-3;

  /* Bug fix: <http://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox> */
  min-height: 0;

  @include flex-column;

  flex-shrink: 0;
}

.maputnik-modal-sub-section {
  margin-top: $margin-1;
}

.maputnik-modal-section--shrink {
  flex-shrink: 1;
}

.maputnik-modal-header {
  background-color: $color-gray;
  padding: $margin-3;

  @include flex-row;
}

.maputnik-modal-header-title {
  font-size: $font-size-5;
  margin: 0;
}

.maputnik-modal-header-toggle {
  cursor: pointer;
}

.maputnik-modal-scroller {
  max-height: calc(100vh - 35px);
  overflow-y: auto;
}

.maputnik-modal-content {
  padding: $margin-3;

  @include flex-column;
}

.maputnik-modal-header-space {
  @extend .maputnik-space;
}

//OVERLAY
.maputnik-overlay-viewport {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  opacity: 0.875;
  background-color: rgb(28, 31, 36);
}

.maputnik-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 9;

  @include flex-row;
}

//OPEN MODAL
.maputnik-upload-button {
  @extend .maputnik-big-button;
}

.maputnik-style-gallery-container {
  flex-shrink: 1;
}

.maputnik-public-style {
  vertical-align: top;
  margin-top: 10px;
  margin-right: 10px;
  background-color: $color-gray;
  display: inline-block;
  width: 180px;
  font-size: $font-size-2;
  color: $color-lowgray;
}

.maputnik-public-style-button {
  background-color: $color-gray;
  padding: $margin-3;
  display: block;

  &:hover {
    background-color: $color-midgray;
  }
}

.maputnik-public-style-header {
  @include flex-row;
}

.maputnik-public-style-thumbnail {
  display: block;
  margin-top: $margin-2;
  width: 100%;
}

.maputnik-add-layer {
  @extend .clearfix;
}

//ADD MODAL
.maputnik-add-layer-button {
  @extend .maputnik-big-button;

  margin-right: $margin-3;
  float: right;
  display: inline-block;
  margin-top: 3;
  margin-bottom: $margin-3;
  text-align: right;
}

//SOURCE MODAL
.maputnik-public-sources {
  margin-bottom: 1.5%;
}

.maputnik-public-source {
  vertical-align: top;
  margin-top: 1.5%;
  margin-right: 1.5%;
  background-color: $color-gray;
  width: 48.5%;
  display: inline-block;
}

.maputnik-public-source-select {
  padding: $margin-3;
  font-size: $font-size-5;
  color: $color-lowgray;
  background-color: transparent;

  @include flex-row;
}

.maputnik-public-source-name {
  font-weight: 700;
}

.maputnik-public-source-id {
  font-weight: 400;
}

.maputnik-active-source-type-editor {
  min-width: 500px;
}

.maputnik-active-source-type-editor-header {
  background-color: $color-gray;
  color: $color-lowgray;
  padding: $margin-2;

  @include flex-row;
}

.maputnik-active-source-type-editor-header-id {
  font-weight: 700;
  line-height: 2;
  font-size: $font-size-5;
}

.maputnik-active-source-type-editor-content {
  border-color: $color-gray;
  border-width: 2px;
  border-style: solid;
  padding: $margin-2;
}

.maputnik-add-source {
  @extend .clearfix;
}

.maputnik-add-source-button {
  @extend .maputnik-big-button;

  display: inline-block;
  margin-top: 0;
  margin-right: $margin-3;
  float: right;
}

//EXPORT MODAL
.maputnik-export-gist {
  font-size: $font-size-6;

  .maputnik-input-block {
    margin-left: 0;
    margin-right: 0;

    label {
      vertical-align: middle;
    }
  }

  span {
    color: $color-lowgray;
  }
}

.maputnik-modal-error {
  border: solid 2px #ef5350;
  color: #ef5350;
  padding: 8px;
  padding-right: 32px;
  position: relative;
}

.maputnik-modal-error-close {
  position: absolute;
  right: 8px;
  top: 8px;
  text-decoration: none;
  color: #ef5350;
}
