//MODAL
.maputnik-modal {
  min-width: 350px;
  max-width: 600px;
  overflow: hidden;
  background-color: $color-black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  z-index: 3;
  position: relative;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.maputnik-modal-section {
  padding-top: $margin-3;
  padding-bottom: $margin-3;

  h1 {
    font-size: $font-size-4;
  }

  h2 {
    font-size: $font-size-5;
  }

  /* Bug fix: <http://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox> */
  min-height: 0;

  @include flex-column;

  flex-shrink: 0;
}

.maputnik-modal-sub-section {
  margin-top: $margin-1;
}

.maputnik-modal-section--shrink {
  flex-shrink: 1;
}

.maputnik-modal-header {
  background-color: $color-gray;
  padding: $margin-3;

  @include flex-row;
}

.maputnik-modal-header-title {
  font-size: $font-size-5;
  margin: 0;
}

.maputnik-modal-header-toggle {
  border: none;
  background: initial;
  color: white;
  padding: 0;
}

.maputnik-modal-scroller {
  flex: 1;
  overflow-y: auto;
}

.maputnik-modal-content {
  padding: $margin-3;

  @include flex-column;
}

.maputnik-modal-header-space {
  @extend .maputnik-space;
}

//OPEN MODAL
.maputnik-upload-button {
  @extend .maputnik-big-button;
}

.maputnik-style-gallery-container {
  flex-shrink: 1;
}

.maputnik-public-style {
  vertical-align: top;
  margin-top: 10px;
  margin-right: 10px;
  background-color: $color-gray;
  display: inline-block;
  width: 180px;
  font-size: $font-size-2;
  color: $color-lowgray;
}

.maputnik-public-style-button {
  background-color: $color-gray;
  padding: $margin-3;
  display: block;
  width: 100%;

  &:hover {
    background-color: $color-midgray;
  }
}

.maputnik-public-style-header {
  @include flex-row;
}

.maputnik-public-style-thumbnail {
  display: block;
  margin-top: $margin-2;
  width: 100%;
  padding-top: calc(400 / 600 * 100%);
  background-size: cover;
  background-color: $color-midgray;
}

.maputnik-add-modal {
  width: 400px;
  max-width: 100%;
}

.maputnik-export-modal {
  width: 400px;
  max-width: 100%;

  .maputnik-input-block-label {
    width: 50%;
    align-self: center;
  }

  .maputnik-input-block-action {
    width: 0;
  }
}

.maputnik-add-layer {
  @extend .clearfix;
}

//ADD MODAL
.maputnik-add-layer-button {
  @extend .maputnik-big-button;

  margin-right: $margin-3;
  float: right;
  display: inline-block;
  margin-top: 3;
  margin-bottom: $margin-3;
  text-align: right;
}

//SOURCE MODAL
.maputnik-public-sources {
  margin-bottom: 1.5%;
}

.maputnik-public-source {
  vertical-align: top;
  margin-top: 1.5%;
  margin-right: 1.5%;
  background-color: $color-gray;
  width: 48.5%;
  display: inline-block;
}

.maputnik-public-source-select {
  padding: $margin-3;
  font-size: $font-size-5;
  color: $color-lowgray;
  background-color: transparent;
  width: 100%;

  @include flex-row;
}

.maputnik-public-source-name {
  font-weight: 700;
}

.maputnik-public-source-id {
  font-weight: 400;
  text-align: left;
}

.maputnik-active-source-type-editor {
  min-width: 500px;
}

.maputnik-active-source-type-editor-header {
  background-color: $color-gray;
  color: $color-lowgray;
  padding: $margin-2;

  @include flex-row;
}

.maputnik-active-source-type-editor-header-id {
  font-weight: 700;
  line-height: 2;
  font-size: $font-size-5;
}

.maputnik-active-source-type-editor-content {
  border-color: $color-gray;
  border-width: 2px;
  border-style: solid;
  padding: $margin-2;

  .maputnik-input-block-label {
    width: 30%;
  }

  .maputnik-input-block-action {
    width: 20%;
  }
}

.maputnik-add-source {
  @extend .clearfix;

  .maputnik-input-block-label {
    width: 30%;
  }

  .maputnik-input-block-action {
    width: 20%;
  }
}

.maputnik-add-source-button {
  @extend .maputnik-big-button;

  display: inline-block;
  margin-top: 0;
  margin-right: $margin-3;
  float: right;
}

//EXPORT MODAL
.maputnik-export-gist {
  font-size: $font-size-6;

  .maputnik-input-block {
    margin-left: 0;
    margin-right: 0;

    label {
      vertical-align: middle;
    }
  }

  span {
    color: $color-lowgray;
  }
}

.maputnik-modal-error {
  border: solid 2px #ef5350;
  color: #ef5350;
  padding: 8px;
  padding-right: 32px;
  position: relative;
}

.maputnik-modal-error-close {
  position: absolute;
  right: 8px;
  top: 8px;
  text-decoration: none;
  color: #ef5350;
}

.maputnik-modal-shortcuts {
  position: relative;
  overflow: hidden;
  max-width: 30em;

  kbd {
    color: white;
    background: #3c3c3c;
    padding: 2px 6px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    font-family: monospace;
  }

  &__shortcut {
    margin-bottom: $margin-2;
  }

  dt {
    display: inline;
    margin-right: $margin-2;
  }

  dd {
    display: inline;
  }

  li {
    margin-bottom: 4px;
  }
}

.maputnik-modal-survey {
  width: 400px;
}

.maputnik-modal-survey__logo {
  display: block;
  margin: 0 auto;
  height: 128px;
  width: 128px;
}

.maputnik-modal-survey__description {
  line-height: 1.5;
}

.maputnik-modal-survey__footnote {
  color: $color-green;
  margin-top: 16px;
}

.modal-settings {
  width: 400px;
}

.maputnik-modal-export-buttons {
  display: flex;
  justify-content: flex-end;

  .maputnik-button {
    margin-left: 4px;
  }
}

