

.chrome-picker {
  background-color: #1c1f24 !important;
  font-family: inherit !important;
}

.chrome-picker input {
  background-color: rgb(38, 40, 46) !important;
  color: rgb(142, 142, 142) !important;
  box-shadow: none !important;
}
