.maputnik-popup-layer {
  @extend .maputnik-base ;
  color: $color-lowgray;
  user-select: none;
  padding-left: 0;
  padding-right: $margin-1;
  line-height: 1.2;
  padding-left: $margin-2;
  padding-right: $margin-2;
}

.maputnik-popup-layer-id {
  padding-left: $margin-2;
  padding-right: $margin-2;
  background-color: $color-midgray;
  color: $color-white;
}

.maputnik-property-layer-popup {
}

.maputnik-feature-property-popup {
  .maputnik-input-block {
    margin: 0;
    margin-left: $margin-2;
    margin-top: $margin-2;
  }
}
