.maputnik-popup-layer {
  display: flex;
  flex-direction: row;
}

.maputnik-popup-layer__swatch {
  display: inline-block;
  width: 5px;
  align-content: stretch;
}

.maputnik-popup-layer__label {
  display: block;
  color: $color-lowgray;
  cursor: pointer;
  user-select: none;
  line-height: 1.2;
  padding: $margin-2;
  padding-top: $margin-1;
  padding-bottom: $margin-1;
}

.maputnik-popup-layer-id {
  padding-left: $margin-2;
  padding-right: 1.6em;
  background-color: $color-midgray;
  color: $color-white;
}

.maputnik-feature-property-popup {
  max-height: calc(50vh - 40px); /* toolbar height: 40px */
  overflow-y: auto;
  .maputnik-input-block {
    margin: 0;
    margin-left: $margin-2;
    margin-top: $margin-2;
  }
}
