// See <https://github.com/nkbt/react-collapse/commit/4f4fbce7c6c07b082dc62062338c9294c656f9df>
.react-collapse-container {
  display: flex;
  max-width: 100%;

  > * {
    flex: 1;
  }
}

.ReactCollapse--collapse {
  transition: height 180ms;
}
