// HACK: ::webkit-scrollbar selector covers to much of the UI. Bigger changes to come so for now just use :not() to ignore the toolbar
div:not(.maputnik-toolbar__actions) {
  &::-webkit-scrollbar {
    background-color: #26282e;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #666;
    padding-left: 2px;
    padding-right: 2px;
  }
  
  // Styling for Firefox
  scrollbar-width: thin;
  scrollbar-color: #666 #26282e;
}
