@use "vars";

@use 'sass:color';
// TOOLBAR
.maputnik-toolbar {
  position: fixed;
  height: vars.$toolbar-height;
  width: 100%;
  z-index: 100;
  left: 0;
  top: vars.$toolbar-offset;
  background-color: vars.$color-black;
}

.maputnik-toolbar-logo-container {
  position: relative;
}

.maputnik-toolbar-logo {
  text-decoration: none;
  display: block;
  flex: 0 0 190px;
  width: 200px;
  text-align: left;
  background-color: vars.$color-black;
  padding: vars.$margin-2;
  height: vars.$toolbar-height;
  position: relative;
  overflow: hidden;

  h1 {
    display: inline;
    line-height: 26px;
  }

  img {
    width: 30px;
    padding-right: vars.$margin-2;
    vertical-align: top;
  }
}

.maputnik-toolbar-link {
  vertical-align: top;
  height: vars.$toolbar-height;
  display: inline-block;
  padding: vars.$margin-3;
  font-size: vars.$font-size-5;
  cursor: pointer;
  color: vars.$color-white;
  text-decoration: none;
  line-height: 20px;

  h1 {
    position: relative;
  }

  &:hover {
    background-color: vars.$color-midgray;
  }
}

.maputnik-toolbar-link--highlighted {
  line-height: 1;
  padding: vars.$margin-2 vars.$margin-3;

  .maputnik-toolbar-link-wrapper {
    background-color: vars.$color-white;
    border-radius: 2px;
    padding: vars.$margin-2;
    margin-top: vars.$margin-1;
    color: vars.$color-black;
    display: block;
  }

  &:hover {
    background-color: vars.$color-black;
  }

  &:hover .maputnik-toolbar-link-wrapper {
    background-color: color.adjust(vars.$color-midgray, $lightness: 12%);
    color: vars.$color-white;
  }
}

.maputnik-toolbar-name {
  text-transform: capitalize;
}

.maputnik-toolbar-version {
  font-size: 10px;
  margin: 0 4px;
  white-space: nowrap;
}

.maputnik-toolbar-action {
  background: inherit;
  border-width: 0;
  @extend .maputnik-toolbar-link !optional; /* stylelint-disable-line */
}

.maputnik-toolbar-select {
  background: inherit;
  border-width: 0;
  @extend .maputnik-toolbar-link !optional; /* stylelint-disable-line */

  select {
    margin: 0 6px;
    display: inline;
    width: auto;
    border: solid 1px vars.$color-midgray;
    vertical-align: inherit;
    margin-top: -2px;
  }
}

.maputnik-icon-text {
  padding: 0 vars.$margin-1;
}

.maputnik-icon-action {
  display: inline;
  margin: 0 vars.$margin-1;
}

.maputnik-toolbar__inner {
  display: flex;
}

.maputnik-toolbar__actions {
  white-space: nowrap;
  flex: 1;
  overflow-y: auto;
}

.maputnik-toolbar-skip {
  all: unset;
  border: solid 1px transparent;
  position: absolute;
  overflow: hidden;
  width: 0px;
  height: 100%;
  text-align: center;
  display: block;
  background-color: vars.$color-black;
  z-index: 999;
  line-height: 40px;
  left: 0;
  top: 0;

  &:active,
  &:focus {
    width: 100%;
    border-color: vars.$color-lowgray;
  }
}

