// TOOLBAR
.maputnik-toolbar {
  position: fixed;
  height: $toolbar-height;
  width: 100%;
  z-index: 100;
  left: 0;
  top: $toolbar-offset;
  background-color: $color-black;
}

.maputnik-toolbar-logo {
  width: 180px;
  text-align: left;
  background-color: $color-black;
  padding: $margin-2;
  height: $toolbar-height;

  h1 {
    display: inline;
  }

  img {
    width: 30px;
    padding-right: $margin-2;
    vertical-align: top;
  }
}

.maputnik-toolbar-link {
  vertical-align: top;
  height: $toolbar-height;
  display: inline-block;
  padding: $margin-3;
  font-size: $font-size-5;
  cursor: pointer;
  color: $color-white;
  text-decoration: none;

  &:hover {
    background-color: $color-midgray;
  }
}

.maputnik-toolbar-action {
  @extend .maputnik-toolbar-link;
}

.maputnik-icon-text {
  padding-left: $margin-1;
}

.maputnik-icon-action {
  display: inline;
  margin-left: $margin-1;
}

.maputnik-toolbar-logo {
  flex: 0 0 140px;
}

.maputnik-toolbar__inner {
  display: flex;
}

.maputnik-toolbar__actions {
  white-space: nowrap;
  flex: 1;
  overflow-y: auto;
}
