// ZOOM FUNC
.maputnik-make-zoom-function {
  background-color: transparent;
  display: inline-block;
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: middle;

  @extend .maputnik-icon-button;
}

// ZOOM PROPERTY
.maputnik-zoom-spec-property {
  @extend .clearfix;
}

.maputnik-zoom-spec-property-label {
  display: inline-block;
  width: 41%;
}

.maputnik-zoom-spec-property-stop-item {
  margin-bottom: $margin-2;
  margin-top: $margin-2;
}

.maputnik-zoom-spec-property-stop-edit {
  display: inline-block;
  vertical-align: top;
  width: 16%;
  margin-right: 3%;

  > * {
    width: 100%;
  }
}

.maputnik-zoom-spec-property-stop-value {
  display: inline-block;
  width: 81%;

  > * {
    width: 100%;
  }
}

.maputnik-delete-stop {
  @extend .maputnik-icon-button;

  vertical-align: top;

  .maputnik-doc-wrapper {
    width: auto;
  }

  .maputnik-doc-target {
    cursor: pointer;
  }
}

.maputnik-add-stop {
  display: inline-block;
  float: right;
  margin-right: $margin-3;
}

.maputnik-zoom-spec-property .maputnik-input-block:not(:first-child) .maputnik-input-block-label {
  visibility: hidden;
}
