@import 'vars';
@import 'mixins';
@import 'reset';
@import 'base';
@import 'components';
@import 'scrollbar';
@import 'picker';
@import 'toolbar';
@import 'modal';
@import 'export';
@import 'layout';
@import 'layer';
@import 'input';
@import 'filtereditor';
@import 'zoomproperty';
@import 'popup';
@import 'map';
@import 'codemirror';
@import 'react-collapse';

/**
 * Hacks for webdriverio isVisibleWithinViewport
 */
#app {
  height: 100vh;
}

.maputnik-layout {
  height: 100vh;
}

.react-icons {
  vertical-align: middle;
  width: 14px;
  height: 14px;
}

