@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: rgb(28, 31, 36);
}

.chrome-picker {
  background-color: #1c1f24 !important;
  font-family: inherit !important;
}

.chrome-picker input {
  background-color: rgb(38, 40, 46) !important;
  color: rgb(142, 142, 142) !important;
  box-shadow: none !important;
}

::-webkit-scrollbar {
    background-color: #26282e;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #40444e;
    padding-left: 2px;
    padding-right: 2px;
}
