.darkScrollbar::-webkit-scrollbar {
	background-color: #313131;
	width: 10px;
}

.darkScrollbar::-webkit-scrollbar-thumb {
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
	padding-left: 2px;
	padding-right: 2px;
}
